@page{
    size: letter portrait;
    margin: 0;
  }
  
  *{
    box-sizing: border-box;
  }
  
  :root{
    --page-width: 8.5in;
    --page-height: 11in;
    --main-width: 6.4in;
    --sidebar-width: calc(var(--page-width) - var(--main-width));
    --decorator-horizontal-margin: 0.2in;
  
    --sidebar-horizontal-padding: 0.2in;
  
    /* XXX: using px for very good precision control */
    --decorator-outer-offset-top: 10px;
    --decorator-outer-offset-left: -5.5px;
    --decorator-border-width: 1px;
    --decorator-outer-dim: 9px;
    --decorator-border: 1px solid #ccc;
  
    --row-blocks-padding-top: 5pt;
    --date-block-width: 0.6in;
  
    --main-blocks-title-icon-offset-left: -19pt;
  }
  
  body{
    width: var(--page-width);
    height: var(--page-height);
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.3;
    color: #444;
    hyphens: auto;
  }
  
  h1{
    margin: 0;
    color: #3d85c6;
  }
  
  h2, h3{
    margin: 0;
    color: #000;
  }
  
  li{
    list-style-type: none;
  }
  
  a:link {
    color: #444;
    text-decoration: none ;
  }
  
  a:visited {
    color: #444;
    text-decoration: none ;
  }
  
  #main{
    float: left;
    width: var(--main-width);
    padding: 0.25in 0.25in 0 0.25in;
    font-size: 10pt;
  }
  
  #sidebar{
    float: right;
    position: relative; /* for disclaimer */
    width: var(--sidebar-width);
    height: 100%;
    padding: 0.6in var(--sidebar-horizontal-padding);
    background-color: #f2f2f2;
    font-size: 8.5pt;
  }
  
  /* main */
  
  /** big title **/
  #title, h1, h2{
    text-transform: uppercase;
  }
  
  #title{
    position: relative;
    left: 0.55in;
    margin-bottom: 0.3in;
    line-height: 1.2;
  }
  
  #title h1{
    font-weight: 300;
    font-size: 18pt;
    line-height: 1.5;
  }
  
  #title h1 strong{
    margin: auto 2pt auto 4pt;
    font-weight: 600;
  }
  
  .subtitle{
    font-size: 8pt;
  }

  div {
    text-align: justify;
    text-justify: inter-word;
  }
  
  /* sidebar */
  
  #sidebar h1{
    font-weight: 400;
    font-size: 11pt;
  }
  
  #sidebar h2{
    font-weight: 400;
    font-size: 11pt;
    text-transform: unset;
  }
  
  .side-block{
    margin-top: 0.5in; 
  }
  
  #contact ul{
    margin-top: 0.05in;
    padding-left: 0;
    font-family: "Source Code Pro";
    font-weight: 400;
    line-height: 1.75;
  }
  
  #contact li > i{
    width: 9pt; /* for text alignment */
    text-align: right;
  }
  